# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
*/.env
backend/.env
frontend/.env

# Directories for test coverage reports
coverage/

# Production build files
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac system files
.DS_Store

# IDE specific files
.vscode/

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*