// Custom Colours - Must be defined BEFORE importing Bootstrap's variables
$primary: #606c38;
$secondary: #283618;
$tertiary: #fefae0;
$quaternary: #dda15e;
$quinary: #bc6c25;
$frame-color: #ffc9b9;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "quaternary": $quaternary,
        "quinary": $quinary
);

// Typography variables
$font-family-base: "HarmonyOS Sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$nav-link-padding-y: 0.5rem;
$display-font-weight: 700;

// NOW import Bootstrap's functions and variables to make use of above definitions
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";