extends layout

block content
    .container(style='margin-top: 100px;')
        .row.align-items-center
            .col-md-4.text-center.d-flex.justify-content-center
                div.portrait-container(style='max-width: 240px; height: 300px; overflow: hidden;')
                    img(src='/images/6702323f5tc220c8b48779336a48bb54.jpg',
                        alt="Portrait", class='img-fluid mb-4 shadow-lg',
                        style='scale: 1.2;')
            .col-md-8
                h1.display-4.bounce-hover #{__("Ziyi LIU")}
                p.lead.text-muted Hello! I'm Ziyi, a passionate Master's student specializing in Data and Artificial Intelligence at Institut Polytechnique de Paris. I have a diverse background in robotics, computer vision, and software development, and I love tackling challenging problems that bring technology to life. My journey has taken me from Shanghai to Paris, and I'm excited to continue exploring new opportunities in AI and robotics.
        hr.my-5
        .row
            .col-md-6
                h3.text-primary Education
                p.text-muted Here are the educational milestones that shaped my journey, giving me a solid foundation in AI, robotics, and computer science:
                .card.shadow-sm.mb-4
                    .card-body
                        p.font-weight-bold(style='font-size: 1.25rem; display: flex; align-items: center;')
                            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Institut_polytechnique_de_Paris_logo.svg/512px-Institut_polytechnique_de_Paris_logo.svg.png', alt="Institut Polytechnique de Paris logo", class='school-logo', style='width: 30px; height: auto; margin-right: 10px;')
                            | Institut Polytechnique de Paris / Télécom Paris
                        p MCS, Data and AI
                        p.text-muted Sept 2024 - Jul 2026, Paris, France
                .card.shadow-sm.mb-4
                    .card-body
                        p.font-weight-bold(style='font-size: 1.25rem; display: flex; align-items: center;')
                            img(src='https://upload.wikimedia.org/wikipedia/en/f/f5/ECUST_university_logo.png', alt="ECUST logo", class='school-logo', style='width: 30px; height: auto; margin-right: 10px;')
                            | East China University of Science and Technology (ECUST)
                        p BEng, Intelligence and Robotics
                        p.text-muted Sept 2020 - Jul 2024, Shanghai, China
                .card.shadow-sm.mb-4
                    .card-body
                        p.font-weight-bold(style='font-size: 1.25rem; display: flex; align-items: center;')
                            img(src='https://upload.wikimedia.org/wikipedia/en/f/f5/ECUST_university_logo.png', alt="ECUST logo", class='school-logo', style='width: 30px; height: auto; margin-right: 10px;')
                            | East China University of Science and Technology (ECUST)
                        p Mini-major Diploma, Computer Science
                        p.text-muted Oct 2021 - Mar 2024, Shanghai, China
            .col-md-6
                h3.text-primary Research Interests
                ul.list-group.list-group-flush.mb-4
                    li.list-group-item Computer Vision: Semantic Segmentation, SLAM, 3D Reconstruction
                    li.list-group-item Robotics: Robot Kinematics and Dynamics
        hr.my-5
        .row
            .col-md-12
                h3.text-primary Work Experience
                .card-deck
                    .card.shadow-sm.mb-4
                        .card-body
                            p.font-weight-bold(style='font-size: 1.25rem;') Porsche Financial Leasing Ltd.
                            p.text-muted PFS Residual Value Assistant (Jan 2024 - Jul 2024, Shanghai, China)
                            ul
                                li Programming models for financial leasing product return rates
                                li Documenting credit strategy and fraud detection pipelines
                                li Researching data disaster tolerance solutions
                    .card.shadow-sm.mb-4
                        .card-body
                            p.font-weight-bold(style='font-size: 1.25rem;') Bank of Communication Financial Technology Co, Ltd.
                            p.text-muted Back-end Developer (Dec 2022 - Feb 2023, Shanghai, China)
                            ul
                                li Built a new HRM platform with low-code and API support
                                li Implemented AI functions' back-end based on openAPI standards
                                li Participated in DevOps process for Supply Chain and Debt Management platform
        hr.my-5
        .row
            .col-md-6
                h3.text-primary Skills
                h4 Languages
                .language-visual
                    .language-item(style='width: 80%; height: 30px; background-color: #4CAF50; margin-bottom: 10px; position: relative; border-radius: 5px;')
                        span(style='position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: white; font-weight: bold;') English (C1)
                    .language-item(style='width: 30%; height: 30px; background-color: #2196F3; margin-bottom: 10px; position: relative; border-radius: 5px;')
                        span(style='position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: white; font-weight: bold;') French (A1)
                    .language-item(style='width: 100%; height: 30px; background-color: #FF9800; margin-bottom: 10px; position: relative; border-radius: 5px;')
                        span(style='position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: white; font-weight: bold;') Mandarin (native)
                    .language-item(style='width: 60%; height: 30px; background-color: #FF5722; margin-bottom: 10px; position: relative; border-radius: 5px;')
                        span(style='position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: white; font-weight: bold;') Cantonese
                h4 Programming
                ul.list-group.list-group-flush
                    li.list-group-item Python, C, C++, R, Matlab
                    li.list-group-item HTML/CSS/JS, LaTeX, Rust
            .col-md-6
                h3.text-primary Achievements
                ul.list-group.list-group-flush
                    li.list-group-item ECUST Outstanding Graduate Scholarship, June 2024
                    li.list-group-item Huawei "Intelligence Base" Outstanding Student Scholarship, Nov 2021
                    li.list-group-item Second Prize in 10th University Students Mechanical Engineering Innovation Contest, Shanghai (May 2021)

    style.
        .portrait-container {
            position: relative;
            width: 250px;
            height: 300px;
            overflow: hidden;
            border-radius: 50%;
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }

        .bounce-hover:hover {
            animation: bounce 1s;
        }