extends layout

block content
    .container.mt-6
        .row
            .col-lg-8.offset-lg-2
                h2.text-center.mb-5
                    i.fas.fa-user-circle.me-3
                    | About Ziyi LIU

                .card.mb-6
                    .card-body
                        h3.card-title
                            i.fas.fa-graduation-cap.me-2
                            | Education
                        ul.list-unstyled
                            li.mb-3
                                strong Institut Polytechnique de Paris / Télécom Paris
                                br
                                | MCS, Data and AI
                                br
                                small.text-muted
                                    i.far.fa-calendar-alt.me-2
                                    | Sept 2024 - Jul 2026
                                br
                                small.text-muted Paris, France
                            li.mb-3
                                strong East China University of Science and Technology (ECUST)
                                br
                                | BEng, Intelligence and Robotics, GPA: 3.0/4.0
                                br
                                small.text-muted
                                    i.far.fa-calendar-alt.me-2
                                    | Sept 2020 - Jul 2024
                                br
                                small.text-muted Shanghai, China
                            li
                                strong East China University of Science and Technology (ECUST)
                                br
                                | Mini-major Diploma, Computer Science
                                br
                                small.text-muted
                                    i.far.fa-calendar-alt.me-2
                                    | Oct 2021 - Mar 2024
                                br
                                small.text-muted Shanghai, China

                .card.mb-6
                    .card-body
                        h3.card-title
                            i.fas.fa-flask.me-2
                            | Research Interests
                        ul.list-unstyled
                            li
                                i.fas.fa-check-circle.me-2.text-success
                                | Computer Vision: Semantic Segmentation, SLAM, 3D Reconstruction
                            li
                                i.fas.fa-check-circle.me-2.text-success
                                | Robotics: Robot Kinematics and Dynamics

                .card.mb-6
                    .card-body
                        h3.card-title
                            i.fas.fa-briefcase.me-2
                            | Work Experience
                        .mb-4
                            h5 Porsche Financial Leasing Ltd.
                            p.mb-1
                                strong PFS Residual Value Assistant
                            p.mb-1
                                small.text-muted
                                    i.far.fa-calendar-alt.me-2
                                    | Jan 2024 - Jul 2024
                            p.mb-1
                                small.text-muted Shanghai, China
                            ul
                                li Programming models for financial leasing product return rates
                                li Documenting credit strategy and fraud detection pipelines
                                li Researching data disaster tolerance solutions

                        .mb-4
                            h5 Bank of Communication Financial Technology Co,Ltd.
                            p.mb-1
                                strong Back-end Developer
                            p.mb-1
                                small.text-muted
                                    i.far.fa-calendar-alt.me-2
                                    | Dec 2022 - Feb 2023
                            p.mb-1
                                small.text-muted Shanghai, China
                            ul
                                li Built a new HRM platform with low-code and API support
                                li Implemented AI functions' back-end based on openAPI standards
                                li Participated in DevOps process for Supply Chain and Debt Management platform

                .card.mb-6
                    .card-body
                        h3.card-title
                            i.fas.fa-cogs.me-2
                            | Skills
                        .row
                            .col-md-6
                                h5 Languages
                                ul.list-unstyled
                                    li
                                        i.fas.fa-check-circle.me-2.text-success
                                        | English (C1)
                                    li
                                        i.fas.fa-check-circle.me-2.text-success
                                        | French (A1)
                                    li
                                        i.fas.fa-check-circle.me-2.text-success
                                        | Mandarin (native)
                                    li
                                        i.fas.fa-check-circle.me-2.text-success
                                        | Cantonese (fluent)
                            .col-md-6
                                h5 Programming
                                ul.list-unstyled
                                    li
                                        i.fas.fa-code.me-2
                                        | Python, C, C++, R, Matlab
                                    li
                                        i.fas.fa-code.me-2
                                        | LaTeX, Rust, HTML/CSS/JS

                .card.mb-6
                    .card-body
                        h3.card-title
                            i.fas.fa-award.me-2
                            | Achievements
                        ul.list-unstyled
                            li.mb-2
                                i.fas.fa-trophy.me-2.text-warning
                                | ECUST Outstanding Graduate Scholarship, June 2024
                            li.mb-2
                                i.fas.fa-trophy.me-2.text-warning
                                | Huawei "Intelligence Base" Outstanding Student Scholarship, Nov 2021
                            li.mb-2
                                i.fas.fa-certificate.me-2.text-info
                                | Shanghai College Information Technology Level Examination, Big Data and Cloud Computing
                            li.mb-2
                                i.fas.fa-certificate.me-2.text-info
                                | Shanghai College Information Technology Level Examination, C Programming and Application
                            li
                                i.fas.fa-medal.me-2.text-success
                                | Second Prize in 10th University Students Mechanical Engineering Innovation Contest, Shanghai (May 2021)

        .row.mt-5
            .col-12.text-center
                a.btn.btn-primary.me-3(href="#")
                    i.fas.fa-envelope.me-2
                    | Contact Me
                a.btn.btn-outline-primary(href="https://www.ziyiliu.com" target="_blank")
                    i.fas.fa-globe.me-2
                    | Visit My Website