extends layout

block content
    .container.mt-5
        h2.text-center.mb-4 #{__('Contact Me')}
        p.text-center You can reach me through my social media accounts or via email.
        .row.justify-content-center
            // GitHub
            .col-md-1.text-center
                a(href='https://github.com/lavandejoey', target='_blank')
                    i.fab.fa-github.fa-2x(style='color: #333') GitHub
            // WhatsApp
            .col-md-1.text-center
                a(href='https://wa.me/330749976242', target='_blank')
                    i.fab.fa-whatsapp.fa-2x(style='color: #25D366') WhatsApp
            // Instagram
            .col-md-1.text-center
                a(href='https://www.instagram.com/lavandecn/', target='_blank')
                    i.fab.fa-instagram.fa-2x(style='color: #E4405F') Instagram
            // LinkedIn
            .col-md-1.text-center
                a(href='https://linkedin.com/in/ziyi-liu-88b872179/', target='_blank')
                    i.fab.fa-linkedin.fa-2x(style='color: #0077B5') LinkedIn
            // Email
            .col-md-1.text-center
                a(href='mailto:lavandejoey@outlook.com')
                    i.fas.fa-envelope.fa-2x(style='color: #D44638') Email