extends layout

block content
    div.container.border.border-2.border-primary
        p.text-center.mt-5
            | This is the home page. It is a placeholder for the home page content.
    // a 2 page height spacer
    //div(style='height: 100vh;')
