extends layout

block content
    div.container.border.border-2.border-primary
        p.shantell-sans-normal.text-center(style='font-size: 2rem;')
        | The Page is Under Construction
    // a 2 page height spacer
    //div(style='height: 100vh;')
