extends layout

block content
    h1.d-none #{__("LIU Ziyi")} - #{__("AI & Data Science at Institut Polytechnique de Paris")}
    div.container-fluid.flex-grow-1.d-flex.justify-content-center.align-items-center(style='height: 100%;')
        div#typewriter-container.text-center
            p#typewriter-text-wrapper(style='font-size: 2rem; white-space: pre-wrap; word-break: break-all; max-width: 100%; position: relative;')
                span#typewriter-text

    script(type="module", src="/js/index.js")

    style.
        #typewriter-container {
            display: inline-block;
            overflow: hidden;
            padding: 1rem;
            max-width: 100%;
        }

        #typewriter-text-wrapper {
            display: flex;
            align-items: center;
            position: relative;
        }

        #typewriter-text {
            font-size: clamp(1.5rem, 5vw + 1rem, 3rem); /* Responsive size: min 1.5rem, max 3rem */
            font-family: "Shantell Sans", cursive;
            white-space: pre-wrap;
            word-break: break-word; /* Allow the line to break naturally, preserving partial words */
        }