// import fonts
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap')
$weight: 400
.shantell-sans-normal
  font-family: "Shantell Sans", cursive
  font-optical-sizing: auto
  font-weight: $weight
  font-style: normal
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0

.shantell-sans-italic
  font-family: "Shantell Sans", cursive
  font-optical-sizing: auto
  font-weight: $weight
  font-style: italic
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0

// Custom Colours - Define these BEFORE importing Bootstrap's styles
$primary: #606c38
$secondary: #283618
$tertiary: #fefae0
$quaternary: #dda15e
$quinary: #bc6c25
$frame-color: #ffc9b9

// Now import Bootstrap's SCSS files so it uses the above variables
@import "../../node_modules/bootstrap/scss/functions"
@import "../../node_modules/bootstrap/scss/variables"
@import "../../node_modules/bootstrap/scss/mixins"

// Custom styles for your website
body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

/* Floating border around the page */
.phoframe
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: 0
  padding: 5px
  border: 1em solid $frame-color
  z-index: 9999
  pointer-events: none


// Custom styles to the active navbar item
.nav-link
  color: $tertiary
  font-weight: normal
  width: 120px
  // center the element in side
  text-align: center

  &.active
    font-weight: bold
    transform: scale(1.1)
    // unclickable
    pointer-events: none

  &:hover
    font-weight: bold
    transform: scale(1.1)
    transition: all 0.25s ease-in-out

/* Remove the dropdown arrow */
.no-caret::after
  display: none

/* Center the dropdown menu */
.dropdown-menu-center
  left: 50%
  transform: translateX(-50%)


/* CSS to style the vertical line */
.vertical-line
  width: 1px
  /* Adjust height as needed */
  height: 80%
  background-color: #ddd
  position: absolute
  /* Position in the center between columns */
  left: 50%
  top: 10%
  transform: translateX(-50%)


// Finally, import Bootstrap's styles
@import "../../node_modules/bootstrap/scss/bootstrap"
